.header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #EB048D;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    pointer-events: none;
}

input, select, textarea {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #aaa;
    background-color: #fce7f1;
    font-size: 15px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid #EB048D;
}

input:hover, select:hover, textarea:hover {
    border-color: #EB048D;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    cursor: pointer;
    scale: 101%;
}

.submit {
    background-color: #E4A5C2;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.submit:hover {
    scale: 103%;
    color: white;
}