.header {text-align: center;}
         .form {
            display: flex;
            justify-content: center;
         }
         form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 80%;
         }
        input {
            border-radius: 15px;
            padding: 7px;
            background-color: #e4a5c22a;
        }
        input:focus {
            border: 2px solid #000000; /* any color */
            outline: none; /* removes browser default outline */
        }
        input:hover, input:active {
            border-color: #EB048D;
            cursor: pointer;
            box-shadow: 0 2px 8px rgba(0,0,0,0.25);
            scale: 101%;
        }
        .submit {
            background-color: #E4A5C2;
            font-weight: bold;
        }