.content_one {
    width: 100%;
    margin: 0;
    line-height: 1.5;
    height: fit-content;
}

.image img {
    width: 100vw;
    height: 80vh;
}

.info{
    background-color: rgb(255, 255, 255, .6);
    position: absolute;
    bottom: 5%;
    right: 11%;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    height: fit-content;
    width: 100vw;
}

.info img {
    width: 20%;
}

.info p {
    font-size: 20px;
    font-weight: bolder;
}

.content_two {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin: 0;
    line-height:1.5;
}





.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50vw;
    padding: 10px;
    font-weight: bold;
}

.location {
    text-align: center;
    width: 35vw;
    padding: 10px;
    font-weight: bold;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.button {
    font-weight: bolder;
    color: black;
    border: 1px solid black;
    background-color: #E4A5C2;
    height: 40px;
    width: 80%;
    border-radius: 30px;
}

.button:hover {
    border: 1px solid white;
    scale: 103%;
}

.content_three {
    background-color: white;
    padding: 20px;
}

.socials {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 30px;
    width: 40px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #eb048d;
    margin: 10px;
}

.socials img {
    width: 40px;
}

.socials:hover {
    opacity: 0.7;
}

table {
    width: 60%;
    text-align: center;
}